segment-routing
 mapping-server
  prefix-sid-map
   address-family ipv4
    4.4.4.4/32 4
    5.5.5.5/32 5
    8.8.8.8/32 8
   !
  !
 !
!
root

router isis IGP
 address-family ipv4 unicast
  segment-routing prefix-sid-map advertise-local
 !
!
root
!

